[flake8]

exclude = .git,__pycache__,.env,venv,*/migrations/,*.html,manage.py,.venv
max-line-length = 79
application-import-names = api, pastehub, paste, core, users, export, qr_code, report
import-order-style = google
inline-quotes = double