{% extends "base.html" %}
{% load static %}


{% block clean_content %}
  <body class="text-center">
    <link href="{% static 'css/signin.css' %}" rel="stylesheet">
    <main class="form-signin">
      <form method="post">
        <img class="mb-4" src="{% static 'img/favicon/favicon.svg' %}" alt="" width="96" height="96">
        <h1 class="h3 mb-3 fw-normal">Войти</h1>

        {% csrf_token %}
        {% include 'includes/form_floating.html' %}
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Войти</button>

        <a href="{% url 'auth:password_reset' %}">Забыли пароль?</a>
        <p>Нет аккаунта? <a href="{% url 'auth:signup' %}">Зарегистрироваться</a></p>
        <p class="mt-5 mb-3 text-muted">© 2024 PasteHub</p>
      </form>
    </main>
  </body>
{% endblock %}