{% for field in form %}
  <div class="mb-3 form-floating">
    {{ field }}
    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
    {% if field.help_text %}
      <div class="form-text help mt-0">{{ field.help_text | safe }}</div>
    {% endif %}
    {% if field.label %}
      <div class="form-text help mt-0">{{ field.label | safe }}</div>
    {% endif %}
    {% for error in field.errors %}
      <p class="text-danger form-text">{{ error | escape }}</p>
    {% endfor %}
  </div>
{% endfor %}

{% for error in form.non_field_errors %}
  <div class="alert alert-danger" role="alert">
    {{ error | escape }}
  </div>
{% endfor %}