<header>
  <div class="container">
    <header class="d-flex flex-wrap py-3 mb-4 border-bottom justify-content-between align-items-center">

      <a href="{% url 'paste:create' %}"
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">PasteHub</span>
      </a>

      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">

          <li class="nav-item">
            <a href="{% url 'paste:create' %}" class="nav-link {% if view_name == 'paste:create' %}active disabled{% endif %}" aria-current="page">Создать
              пасту</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'paste:create_protected' %}" class="nav-link {% if view_name == 'paste:create_protected' %}active disabled{% endif %}" aria-current="page">Создать
              защищённую пасту</a>
          </li>


          {% if request.user.is_superuser %}
            <li class="ps-3">
              <a href="/admin/" class="btn btn-success">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-badge-fill" viewBox="0 0 16 16">
                  <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2zm4.5 0a.5.5 0 0 0 0 1h3a.5.5 0 0 0 0-1zM8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6m5 2.755C12.146 12.825 10.623 12 8 12s-4.146.826-5 1.755V14a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1z"/>
                </svg>
                В админку
              </a>
            </li>
          {% endif %}

          {% if not request.user.is_authenticated %}
            <a href="{% url 'auth:login' %}" class="btn btn-outline-primary ms-3">Войти</a>
          {% else %}
            <div class="dropdown ms-3">
              <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle mt-2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ request.user.get_avatar_32x32.url }}" alt="" class="rounded-circle me-2">
                <strong>
                  {{ request.user.username }}
                </strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-small shadow border-0 rounded" style="min-width: 180px;">
                <li>
                  <a class="dropdown-item {% if view_name == 'users:user_detail' %}active disabled{% endif %}" href="{% url 'users:profile-edit' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                      <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                      <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    Профиль
                  </a>
                </li>
                <li>
                  <a class="dropdown-item {% if view_name == 'users:profile' %}active disabled{% endif %}" href="{% url 'users:user-detail' request.user.username %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
                    </svg>
                    Список паст
                  </a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'auth:logout' %}">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z"/>
                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z"/>
                  </svg>
                  Выход
                </a></li>
              </ul>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </header>
  </div>

</header>