<header>
  <div class="container">
    <header class="d-flex flex-wrap py-3 mb-4 border-bottom justify-content-between align-items-center">

      <a href="{% url 'paste:create' %}"
         class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <span class="fs-4">PasteHub</span>
      </a>

      {% with request.resolver_match.view_name as view_name %}
        <ul class="nav nav-pills">

          <li class="nav-item">
            <a href="{% url 'paste:create' %}" class="nav-link {% if view_name == 'paste:create' %}active disabled{% endif %}" aria-current="page">Создать пасту</a>
          </li>
          <li class="nav-item">
            <a href="{% url 'paste:create_protected' %}" class="nav-link {% if view_name == 'paste:create_protected' %}active disabled{% endif %}" aria-current="page">Создать защищённую пасту</a>
          </li>


          {% if request.user.is_superuser %}
            <li class="ps-3">
              <a href="/admin/" class="btn btn-success">В админку</a>
            </li>
          {% endif %}

          {% if not request.user.is_authenticated %}
            <a href="{% url 'auth:login' %}" class="btn btn-outline-primary ms-3">Войти</a>
          {% else %}
            <div class="dropdown ms-3">
              <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle mt-2" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="{{ request.user.get_avatar_32x32.url }}" alt="" class="rounded-circle me-2">
                <strong>
                  {{ request.user.username }}
                </strong>
              </a>
              <ul class="dropdown-menu dropdown-menu-end text-small shadow border-0 rounded" style="min-width: 180px;">
                <li>
                  <a class="dropdown-item {% if view_name == 'users:user_detail' %}active disabled{% endif %}" href="{% url 'users:profile-edit' %}">Профиль</a>
                </li>
                <li>
                  <a class="dropdown-item {% if view_name == 'users:profile' %}active disabled{% endif %}" href="{% url 'users:user-detail' request.user.username %}">Список паст</a>
                </li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'auth:logout' %}">Выход</a></li>
              </ul>
            </div>
          {% endif %}
        </ul>
      {% endwith %}
    </header>
  </div>

</header>