{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="w-25 p-3 mx-auto">
    <h2>Мой профиль</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ user_form.as_p }}
        {{ profile_form.as_p }}
        <button class="btn btn-primary" type="submit">Сохранить изменения</button>
    </form>
    <br>
    <a class="btn btn-outline-secondary" href="{% url "homepage:coffee" %}" role="button">Выпить кофе</a>
    <a role="button" href="{% url "stats:rated-items" %}" class="btn btn-outline-secondary">Статистика</a>
    <br>
    <br>
    <br>
    <a role="button" href="{% url "users:logout" %}" class="btn btn-outline-danger">Выйти</a>
</div>
<script>
    const today = new Date().toISOString().split('T')[0];
    document.getElementById("id_birthday").setAttribute('max', today);
</script>
{% endblock %}