{% extends "base.html" %}


{% block title %}
  {% if is_edit_page %}
    Редактирование пасты
  {% else %}
    Создание пасты
  {% endif %}
{% endblock %}


{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="pt-4 w-50">
      {% if is_edit_page %}
        <h3 class="text-center mb-4">Редактировать пасту</h3>
      {% else %}
        <h3 class="text-center mb-4">Создать пасту</h3>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        {% include "includes/form_floating.html" %}
        <button type="submit" class="btn btn-primary w-100">Сохранить</button>
      </form>
    </div>
  </div>
{% endblock %}