
{% extends "base.html" %}
{% load static %}

{% block title %}{{ selected_version.title }}{% endblock %}

{% block content %}
  <div class="container d-flex justify-content-center">
    <div class="pt-4 w-75">

      <div class="mb-3">
        <h3 class="text-center">{{ selected_version.title }}</h3>
        {% if paste.is_blocked %}
          <p class="text-danger text-center"><strong>Заблокировано</strong></p>
        {% else %}
          {% if old_version != selected_version.version %}
            <p class="text-muted text-center">
              Исторический режим<br>
              Версия: {{ selected_version.version }}
            </p>
          {% else %}
            <p class="text-muted text-center">{{ paste.category }}</p>
          {% endif %}
        {% endif %}
      </div>

      <div>
        <small class="text-muted">Автор: <strong>{{ paste.author.username }}</strong> | Дата создания:
          <strong>{{ paste.created }}</strong>{% if paste.expired_duration %}<br>Срок существования:
            <strong>{{ paste.expired_duration }}</strong>{% endif %}</small>
        <small class="text-muted"> | Стиль: <strong>{{ paste.language }}</strong></small>
      </div>

      <pre><code class="language-{{ paste.language }}">{{ content }}</code></pre>

      <div class="mb-2 d-flex justify-content-between align-items-center">
        <div>
          {% if paste.is_blocked %}
            <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmReviewModal">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-slash-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                <path d="M11.354 4.646a.5.5 0 0 0-.708 0l-6 6a.5.5 0 0 0 .708.708l6-6a.5.5 0 0 0 0-.708"/>
              </svg>
              Пересмотр блокировки
            </button>
          {% else %}
            <a class="btn btn-sm btn-outline-danger" href="{% url 'report:create' paste.short_link %}">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-triangle" viewBox="0 0 16 16">
                <path d="M7.938 2.016A.13.13 0 0 1 8.002 2a.13.13 0 0 1 .063.016.15.15 0 0 1 .054.057l6.857 11.667c.036.06.035.124.002.183a.2.2 0 0 1-.054.06.1.1 0 0 1-.066.017H1.146a.1.1 0 0 1-.066-.017.2.2 0 0 1-.054-.06.18.18 0 0 1 .002-.183L7.884 2.073a.15.15 0 0 1 .054-.057m1.044-.45a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767z"></path>
                <path d="M7.002 12a1 1 0 1 1 2 0 1 1 0 0 1-2 0M7.1 5.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0z"></path>
              </svg>
              Нарушение
            </a>
          {% endif %}

          {% if paste.author == request.user %}
            <a class="btn btn-sm btn-primary" href="{% url 'paste:edit' paste.short_link %}">Редактировать</a>
          {% endif %}

          <button class="btn btn-sm btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            История изменений
          </button>
          <ul class="dropdown-menu">
            {% for el in paste.versions.all %}
              <a class="dropdown-item" href="{% url 'paste:version-detail' short_link=paste.short_link version=el.version %}">
                {% if el.version == old_version %}Последняя {% endif %}#{{ el.version }} ({{ el.updated }})
              </a>
            {% endfor %}
          </ul>


          <button class="btn btn-sm btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
              <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
              <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
            </svg>
            Экспорт
          </button>
          <ul class="dropdown-menu">
            <a class="dropdown-item" href="{% url 'export:source' paste.short_link selected_version.version %}" download role="button">
              Исходный формат
            </a>
            <a class="dropdown-item" href="{% url 'export:json' paste.short_link selected_version.version %}" download role="button">
              JSON
            </a>
            <a class="dropdown-item" href="{% url 'export:docx' paste.short_link selected_version.version %}" download role="button">
              DOCX
            </a>
          </ul>
        </div>

        {% if paste.author == request.user %}
          <button type="button" class="btn btn-sm btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
              <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
            </svg>
            Удалить
          </button>
        {% endif %}

      </div>


      {% if not paste.is_blocked %}
        <div class="form-outline w-50 mt-3">
          <label for="linkInput1" class="form-label mb-1">Короткая ссылка:</label>
          <div class="d-flex align-items-center">
            <input type="text" id="linkInput1" class="form-control me-2" value="{{ request.build_absolute_uri }}" readonly>
            <button class="btn btn-secondary col-auto" data-clipboard-target="#linkInput1">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
                <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1z"/>
                <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0z"/>
              </svg>
              Скопировать
            </button>
          </div>
        </div>

        <div class="mt-3">
          <label for="linkInput" class="form-label mb-1">QR-код:</label>
          <img src="{% url 'qr_code:preview' request.build_absolute_uri %}" class="rounded img-thumbnail" alt="qr-code image" width="50px" data-bs-toggle="modal" data-bs-target="#qrcodeModal">
        </div>
      {% endif %}

      {% if messages %}
        {% for message in messages %}
          {% if message.tags == "success" %}
            <div class="alert alert-success mt-3 alert-dismissible" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}

    </div>
  </div>

  <div class="modal fade" id="confirmDeleteModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение удаления</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          Вы уверены, что хотите удалить эту пасту?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
          <a type="button" class="btn btn-danger" id="confirmDeleteButton" href="{% url 'paste:delete' paste.short_link %}">Удалить</a>
        </div>
      </div>
    </div>
  </div>

  {% if paste.is_blocked %}
    <div class="modal fade" id="confirmReviewModal" tabindex="-1" aria-labelledby="confirmDeleteModalLabel"
         aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="confirmDeleteModalLabel">Подтверждение отправки</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <strong>Проверьте содержимое пасты</strong> перед отправкой запроса на пересмотр решения о блокировке
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
            <a type="button" class="btn btn-primary" id="confirmDeleteButton" href="{% url 'report:review' paste.short_link %}">Отправить
              запрос</a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="modal fade" id="qrcodeModal" tabindex="-1" aria-labelledby="qrcodeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="qrcodeModalLabel">QR-код</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="text-center">
            <img src="{% url 'qr_code:preview' request.build_absolute_uri %}" class="rounded" alt="qr-code image">
          </div>
        </div>
        <div class="modal-footer">
          <div class="container">
            <div class="row">
              <div class="d-grid gap-2 d-md-block text-center">
                <a class="btn btn-outline-dark" href="{% url 'qr_code:download' 'png' request.build_absolute_uri %}" download role="button">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-download" viewBox="0 0 16 16">
                    <path d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5"/>
                    <path d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708z"/>
                  </svg>
                  Скачать
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="{% static 'js/clipboard.min.js' %}"></script>
  <script>
      const target = document.getElementById('linkInput1');
      const button = target.nextElementSibling;

      var clipboard = new ClipboardJS(button, {
          target: target,
          text: function () {
              return target.value;
          }
      });
  </script>

{% endblock %}