{% extends "base.html" %}

{% block title %}Эта паста защищена{% endblock %}

{% block clean_content %}
  <body>
    <main class="text-center">
      <div class="container d-flex align-items-center justify-content-center min-vh-100">
        <div class="card shadow-lg p-4 w-50">
          <div class="mb-3">
            <h3 class="text-center">Эта паста зашифрована 🔐</h3>
          </div>
          <form method="post">
            {% csrf_token %}
            {% include "includes/form.html" %}
            <button type="submit" class="btn btn-outline-primary w-100">Расшифровать</button>
          </form>
          <div class="mt-3 text-center">
            <a href="{% url 'paste:create' %}" class="text-decoration-none text-muted">На главную</a>
          </div>
        </div>
      </div>
    </main>
  </body>
{% endblock %}